.topic .posts>li.carton-jaune-post {
    border: 3px solid #ffb100 !important;
}

.topic .posts>li.carton-vert-post {
    border: 3px solid #00bb88 !important;
}

.topic .posts>li.carton-rose-post {
    border: 3px solid hotpink !important;
}

.topic .posts>li.carton-rouge-post {
    border: 3px solid #ff0000 !important;
}

.topic .posts>li.carton-rouge-post > *:first-child:before,
.topic .posts>li.carton-jaune-post > *:first-child:before {
    content: "hello";
    display: block;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: -10px;
    content: "This is a message from the moderation team";
}
.topic .posts>li.carton-rouge-post > *:first-child:before {
    background: #ff0000;
}
.topic .posts>li.carton-jaune-post > *:first-child:before {
    background: #ffb100;
}

html:lang(fr) .topic .posts>li.carton-rouge-post > *:first-child:before,
html:lang(fr) .topic .posts>li.carton-jaune-post > *:first-child:before {
    content: "Ceci est un message de l'équipe de modération";
}


li.highlight.carton-rouge-post,
li.highlight.carton-vert-post,
li.highlight.carton-jaune-post,
li.highlight.carton-rose-post {
    border: none;
}

li.highlight.carton-rouge-post:before,
li.highlight.carton-vert-post:before,
li.highlight.carton-jaune-post:before,
li.highlight.carton-rose-post:before {
    border: none !important;
}

li.highlight.carton-rouge-post:after,
li.highlight.carton-vert-post:after,
li.highlight.carton-jaune-post:after,
li.highlight.carton-rose-post:after {
    border: none !important;
}
